doctype html
html
  head
    title= title
    meta(name='viewport',content='width=device-width, initial-scale=1')
    link(rel='stylesheet',href='/framework/bootstrap/dist/css/bootstrap.min.css')
    script(type='text/javascript',src='/framework/jquery/dist/jquery.min.js')
    script(type='text/javascript',src='/framework/bootstrap/dist/js/bootstrap.min.js')
  body
    block content
